<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="MySqlTables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.89.80:3306/apps"
                        userId="me2me"
                        password="Sp@Metro#79">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.me2me.live.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mybatis"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.me2me.live.mapper"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--<table tableName="topic" domainObjectName="Topic"/>-->
        <!-- <table tableName="topic_fragment" domainObjectName="TopicFragment"/> -->
        <!--<table tableName="live_favorite" domainObjectName="LiveFavorite"/>-->
        <!--<table tableName="live_read_history" domainObjectName="LiveReadHistory"/>-->
        <!--<table tableName="topic_barrage" domainObjectName="TopicBarrage"/>-->
        <!--<table tableName="live_favorite_delete" domainObjectName="LiveFavoriteDelete"/>-->
        <!--<table tableName="live_display_barrage" domainObjectName="LiveDisplayBarrage"/>-->
        <!--<table tableName="live_display_fragment" domainObjectName="LiveDisplayFragment"/>-->
        <!--<table tableName="live_display_review" domainObjectName="LiveDisplayReview"/>-->
        <!--<table tableName="delete_log" domainObjectName="DeleteLog"/>-->
        <!--<table tableName="live_display_protocol" domainObjectName="LiveDisplayProtocolDto"/>-->
        <!--<table tableName="topic_user_config" domainObjectName="TopicUserConfig"/>-->
        <!--<table tableName="topic_aggregation" domainObjectName="TopicAggregation"/>-->
        <!--<table tableName="topic_aggregation_apply" domainObjectName="TopicAggregationApply"/>-->
        <!--<table tableName="topic_droparound" domainObjectName="TopicDroparound"/>-->
        <!--<table tableName="topic_droparound_trail" domainObjectName="TopicDroparoundTrail"/>-->
        <!--<table tableName="topic_fragment_template" domainObjectName="TopicFragmentTemplate"/>-->
        <!--<table tableName="topic_tag" domainObjectName="TopicTag"/>-->
        <!--<table tableName="topic_tag_detail" domainObjectName="TopicTagDetail"/>-->
        <!-- <table tableName="topic_news" domainObjectName="TopicNews"/> -->
        <!-- <table tableName="topic_transfer_record" domainObjectName="TopicTransferRecord"/> -->
        <!-- <table tableName="topic_read_his" domainObjectName="TopicReadHis"/> -->
        <!-- <table tableName="user_steal_log" domainObjectName="UserStealLog" />  -->
        <!-- <table tableName="topic_data" domainObjectName="TopicData" /> -->
        <!-- <table tableName="topic_price_his" domainObjectName="TopicPriceHis" /> -->
    </context>
</generatorConfiguration>
