<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me2me.content.mapper.TopicTagSearchMapper">
  
     <select id="getKingdomsByTag" resultType="map">
		select t.*,td.last_price_incr from topic_tag_detail d,topic t
		left join topic_data td on  td.topic_id=t.id 
		where 
			d.status=0 
			and d.topic_id=t.id 
			and d.tag_id in(
					select id from topic_tag p where tag=#{tag}
					UNION 
					select id from topic_tag c where c.pid=(select id from topic_tag p where tag=#{tag})
			)
			<if test="blacklistUids!=null and blacklistUids.size() &gt; 0">
      		and t.uid not in
      		<foreach close=")" collection="blacklistUids" item="bid" open="(" separator=",">
        		#{bid}
      		</foreach>
    		</if>
		  <choose>
             <when test="order=='price'">
                order by t.price DESC
             </when>
             <otherwise>
                order by td.last_price_incr DESC
              </otherwise>
           </choose>
		   limit ${(page-1)*pageSize},#{pageSize}
     </select>

	 <select id="getTagPriceAndKingdomCount" resultType="map">
		select 
			count(1) kingdomCount,
			sum(ts.price) tagPrice,
			(select count(DISTINCT uid) c from topic_fragment where topic_id in(
				select DISTINCT topic_id from topic_tag_detail dt where dt.status=0 and dt.tag_id in(
						select id from topic_tag p where tag=#{tag} and status=0
						UNION
						select id from topic_tag c where c.pid=(select id from topic_tag p where tag=#{tag} and status=0) 
				)
			))+FLOOR(sum(ct.read_count)/20) tagPersons
			from
			(select * from topic where id in(
				select DISTINCT topic_id from topic_tag_detail dt where dt.status=0 and dt.tag_id in(
						select id from topic_tag p where tag=#{tag} and status=0
						UNION
						select id from topic_tag c where c.pid=(select id from topic_tag p where tag=#{tag} and status=0) 
				)
			)) ts,content ct
			where ts.id=ct.forward_cid and ct.type=3
	 </select>
	
	<select id="getSysTagCountInfo" resultType="map">
		SELECT t.*,
		( 
			select  sum(price) from topic where id in(
				select DISTINCT dt.topic_id from topic_tag_detail dt where dt.status=0 and dt.tag_id in(
					select id from topic_tag p where tag=t.tag
					UNION
					select id from topic_tag c where c.pid=(select id from topic_tag p where tag=t.tag) 
				)
			)
		) price
		FROM topic_tag t where t.is_sys=1
	</select>
	<select id="getTopicIdsByTag" resultType="int">
		select DISTINCT topic_id from topic_tag_detail dt where dt.status=0 and dt.tag_id in(
			select id from topic_tag p where tag=#{tag} and status=0
			UNION
			select id from topic_tag c where c.pid=(select id from topic_tag p where tag=#{tag} and status=0) 
		)
	</select>
</mapper>