<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="" />
        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/assets/css/admin.css}"/>
        <script th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script>
            $(function(){
                $(window).load(function()
                {
                    $('.page-loading-overlay').addClass('loaded');
                });
                window.onerror = function(){
                    // failsafe remove loading overlay
                    $('.page-loading-overlay').addClass('loaded');
                }
            });
        </script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <th:block th:if="${root.coverImage} ne ''">
                <div class="image-cover">
                    <img class="img-responsive" th:src="${root.coverImage}" />
                </div>
            </th:block>
            <div class="ue-content-wrapper">
                <p th:text="${root.content}">Java是一种可以撰写跨平台应用程序的面向对象的程序设计语言。Java 技术具有卓越的通用性、高效性、平台移植性和安全性，广泛应用于PC、数据中心、游戏控制台、科学超级计算机、移动电话和互联网，同时拥有全球最大的开发者专业社群。</p>
            </div>
            <div class="image-list">
                <ul>
                    <th:block th:each="url : ${root.imageUrls}">
                        <li>
                            <img class="img-responsive" th:src="${url}" />
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-loading-overlay">
        <div class="loader-2"></div>
    </div>
</body>
</html>