<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header">
</head>
<body class="container">
<div class="row">
    <th:block th:if="${data.coverImage} ne ''">
        <div class="image-cover">
            <img class="img-responsive" th:src="${data.coverImage}" />
        </div>
    </th:block>
    <div class="ue-content-wrapper">
        <p>Java是一种可以撰写跨平台应用程序的面向对象的程序设计语言。Java 技术具有卓越的通用性、高效性、平台移植性和安全性，广泛应用于PC、数据中心、游戏控制台、科学超级计算机、移动电话和互联网，同时拥有全球最大的开发者专业社群。</p>
    </div>
    <div class="image-list">
        <ul>
            <li><img class="img-responsive" src="http://7xs9q4.com2.z0.glb.qiniucdn.com/4ec2d5628535e5dd2820232370c6a7efce1b623a.jpg" /></li>
            <li><img class="img-responsive" src="http://7xs9q4.com2.z0.glb.qiniucdn.com/headimg%2F90%2F055a05f3-1281-4d7e-9fd2-eac61f8e5a93.jpg" /></li>
            <li><img class="img-responsive" src="http://7xs9q4.com2.z0.glb.qiniucdn.com/FsNZgu6-OUbpgtiYMcvCH4DG_Raq" /></li>
            <li><img class="img-responsive" src="http://7xs9q4.com2.z0.glb.qiniucdn.com/Fjl_2CSTmSWfnhqhQ3XK_KFDhck-" /></li>
            <li><img class="img-responsive" src="http://7xs9q4.com2.z0.glb.qiniucdn.com/Fo6uJIZQjpSPUnmWIyQmeo9rt7AL" /></li>
        </ul>
    </div>
</div>
<div class="page-loading-overlay">
    <div class="loader-2"></div>
</div>
    <th:block th:include="fragments/scripts"></th:block>
</body>
</html>