<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <title>米汤</title>	
	    <meta name="HandheldFriendly" content="True" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/assets-me2me/application.css"/>
	</head>
	<body>
		<article class="ue-container shadow animate-shadow-1">
			<header>
				<span class="title">跟世界交手的每一天，你是如何做到元气满满</span>
				<img class="img-responsive" src="http://7xs9q4.com2.z0.glb.qiniucdn.com/e5815c01-6154-410b-bda9-a33d7c45e976"/>
			</header>
			<div class="content">
				<div><div><div><span style="word-wrap: normal; word-break: normal; line-height: 24px; font-size: 16px;"><strong>作者简介：</strong></span></div><div><span style="word-wrap: normal; word-break: normal; line-height: 24px; font-size: 16px;">
					千帆远澋，旅游体验师，酒店体验师，新华社签约摄影师，中国新闻摄影学会摄影师，新浪旅游名博，新浪微博签约自媒体达人，搜狐自媒体金牌作者，去哪儿网旅行家。本职工作为媒体资深编辑，文字功底深厚，文章以小清新风格见长，常见于各大杂志，各大博客首页推荐率达到99%以上，她从来不想和那些旅行达人们和职业玩家比旅行的数量时间，只是一边旅行，一边生活。每月一次长途旅行，已经成为她的习惯，成为生活中不可或缺的一部分。以一颗谦卑包容的心游走世界，四年来共走过43个国家的316个城市，最远登陆南极大陆。读万卷书行万里路，有耀自他我得其助，愿有生之年，能与你分享旅行，平安喜乐。
				</span>
				<img class="img-responsive" src="http://7xs9q4.com2.z0.glb.qiniucdn.com/e5815c01-6154-410b-bda9-a33d7c45e976"/>
				</div></div></div></div>
			</div>
			
		</article>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>
