<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="${root.title}"></title>
    <meta name="description" content="笑林杂谈是个提供搞笑、段子、美女、热舞、性感、街拍、自拍、笑话的内容平台。" />
    <meta name="keywords" content="搞笑,段子,美女,热舞,性感,街拍,自拍,笑话"/>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" th:href="@{/assets/favicon.ico}"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css"/>
    <link href="//cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/screen.css}"/>
    <link rel="canonical" href="http://www.51nick.com/" />
    <meta name="referrer" content="origin" />
</head>
<body class="home-template">
<!-- start navigation -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                    <a class="navbar-brand" href="#">笑林杂谈</a>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav">
                        <li class="active" role="presentation"><a href="/">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">热门 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">24小时</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">一周</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">一个月</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">趣图</a>
                        </li>
                        <li>
                            <a href="#">段子</a>
                        </li>
                        <li>
                            <a href="#">妹子</a>
                        </li>
                        <li>
                            <a href="#">街拍</a>
                        </li>
                        <li>
                            <a href="#">热舞</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->


<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article class="post">
                    <div class="post-head">
                        <h1 class="post-title"><a href="#" th:text="${root.title}"></a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/" th:text="${root.author}"></a></span> &bull;
                            <time class="post-date" th:text="${#calendars.format(root.createTime,'yyyy-MM-dd HH:mm:ss')}"></time>
                        </div>
                    </div>
                    <th:block th:if="${root.thumb ne ''}">
                        <div class="featured-media">
                            <a href="#"><img class="img-responsive" th:src="${root.thumb}" th:alt="${root.title}"/></a>
                        </div>
                    </th:block>
                    <div class="post-content" th:utext="${root.content}"></div>
                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
            </main>
            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">阅读排行榜</h4>
                    <div class="content community">
                        <p><span class="label label-danger">1</span> <a href="#">大姨妈的现代生活</a></p>
                        <p><span class="label label-danger">2</span> <a href="#">大姨妈的现代生活</a></p>
                        <p><span class="label label-danger">3</span> <a href="#">大姨妈的现代生活</a></p>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <div class="widget">
                    <h4 class="title">热门推荐</h4>
                    <div class="content community">
                        <p><span class="label label-danger">1</span> <a href="#">大姨妈的现代生活</a></p>
                        <p><span class="label label-danger">2</span> <a href="#">大姨妈的现代生活</a></p>
                        <p><span class="label label-danger">3</span> <a href="#">大姨妈的现代生活</a></p>
                    </div>
                </div>
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">笑林标签</h4>
                    <div class="content tag-cloud">
                        <a href="#">建设中...</a>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->
            </aside>
        </div>
    </div>
</section>

<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">最新文章</h4>
                    <div class="content recent-post">
                        <div class="recent-single-post">
                            <a href="#" class="post-title">建设中...</a>
                            <div class="date">2016年4月28日</div>
                        </div>
                        <div class="recent-single-post">
                            <a href="#" class="post-title">建设中...</a>
                            <div class="date">2016年3月23日</div>
                        </div>
                        <div class="recent-single-post">
                            <a href="#" class="post-title">建设中...</a>
                            <div class="date">2015年12月29日</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="#">建设中...</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">合作伙伴</h4>
                    <div class="content tag-cloud friend-links">
                        <a href="http://www.lieqi.com" title="猎奇网" target="_blank">猎奇网</a>
                        <hr/>
                        <a href="http://www.chinaz.com/" title="站长之家" target="_blank">站长之家</a>
                        <hr/>
                        <a href="http://www.taohuaan.net/" title="桃花庵" target="_blank">桃花庵</a>
                        <hr/>
                        <a href="http://www.zhainandao.com/" title="宅男岛" target="_blank">宅男岛</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://www.51nick.com/">笑林杂谈</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">陕ICP备16007303号</a></span> |
            </div>
        </div>
    </div>
</div>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdn.bootcss.com/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/main.js?v=82931f6358"></script>
<script>
    $(function(){
        $('.post-content img').each(function(item){
            var src = $(this).attr('src');

            $(this).wrap('<a href="' + src + '" class="mfp-zoom" style="display:block;"></a>');
        });

        /*$('.post-content').magnificPopup({
         delegate: 'a',
         type: 'image'
         });*/
    });
</script>
</body>
</html>
